<h1 class="m-5">Searching <small>{{ textSearched }}</small></h1>

<div class="row animated fadeIn fast" *ngIf="heros.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            There's not results of {{ textSearched }}
        </div>
    </div>
</div>

<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let hero of heros; let i = index">
        <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ hero.nombre }}</h5>
            <p class="card-text">{{ hero.bio }}.</p>
            <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>

            <a [routerLink]="['/hero', i]" class="btn btn-outline-primary">Show more</a>
        </div>
    </div>
</div>