<div [ngClass]="alert" class="container" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" (click)="alert = 'alert-success'">Success</button>

<h3 [ngClass]=" {'alert-success': true}">
    Hola Mundo desde class.component
</h3>

<h3 [ngClass]=" {'alert-success': properties.success, 'alert-danger': !properties.success}">
    Hola Mundo desde class.component
</h3>

<button (click)="properties.success = !properties.success" type="button" name="button" [ngClass]="{ 'alert-danger': !properties.success, 'alert-success': properties.success }">
Change alert
</button>